<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/9ce3d7ffeb.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="/">Todo List</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <% if (isAuth) { %>
                        <li class="nav-item">
                            <form action="/auth/logout" method="post">
                                <button class="btn btn-link text-decoration-none text-dark">
                                   Keluar
                                </button>
                                </form>
                            </li>
                    <%}else{%>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/auth/signup">Daftar</a>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/signin">Masuk</a>
                    </li>
                    <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <%-body%>
    <footer class="bg-dark w-100 text-light p-2 position-fixed bottom-0">
        <p class="text-center">Tugas-akhir-amikom, 2022.</p>
    </footer>
</body>

</html>